@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color-600: #00a264;
  --primary-color-700: #166534;
  --primary-color-800: #105528;
  --primary-color-900: #101828;
}
/* bg-[#0d145c] */
.skills-list > li::marker {
  margin-right: 0;
  text-indent: 0;
}
.active {
  text-decoration: underline;
  font-weight: 700;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/* From Uiverse.io by bhaveshxrawat */ 
.aboutCard {
  /* width: 290px; */
  height: 154px;
  background: #07182E;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}



.aboutCard::before {
  content: '';
  position: absolute;
  width: 100px;
  background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
  height: 300%;
  animation: rotBGimg 3s linear infinite;
  transition: all 0.2s linear;
}

@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.aboutCard::after {
  content: '';
  position: absolute;
  background: #07182E;
  ;
  inset: 5px;
  border-radius: 15px;
}  

