@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}
:root {
  --primary-color-600: #00a264;
  --primary-color-700: #166534;
  --primary-color-800: #105528;
  --primary-color-900: #101828;
}
/* bg-[#0d145c] */
.skills-list > li::marker {
  margin-right: 0;
  text-indent: 0;
}
.active {
  text-decoration: underline;
  font-weight: 700;
}